@{
    ViewBag.Title = "Sobre";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>
                Financial File Manager
            </h2>
            <p>
                O Financial File Manager é um projeto de código aberto (open source) criado para atender uma demanda específica aberta por um cliente meu.
                Muitos são os softwares utilizados que fazem uso de arquivos texto para entrada e saída de dados e muitas vezes, esses formatos são incompatíveis
            </p>
        </div>
    </div>
</div>


