@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Financial File Manager</h1>
    <p class="lead">Financial File Manager é um sistema para transformação de arquivos para importação em ERPs diversos</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Saiba mais &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Primeiros passos</h2>
        <p>
            Para utilizar o sistema, basta implantá-lo em um servidor, seja local ou em nuvem.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Detalhes</h2>
        <p>O sistema não armazena os arquivos enviados, mas sim, apenas o seu conteúdo, para futuras análises ou novas gerações de exportações.</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>