
@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>


@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <fieldset>
            <legend>Upload a file</legend>
            <div class="row editor-field">
                @Html.TextBox("file", "", new { type = "file" })
            </div>
            <div class="row editor-field">
                <input type="submit" value="Upload" />
            </div>
        </fieldset>
    </div>
}
