
@{
    ViewBag.Title = "Upload";
}

@using (Html.BeginForm("Upload", "Arquivoes", FormMethod.Post,
                                        new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="container">
        <fieldset>
            <legend>Indique um arquivo</legend>
            <div class="row col-md-12">
                @Html.TextBox("file", "", new { type = "file" })
                <input type="submit" value="Confirmar" class="btn btn-default" />
            </div>
        </fieldset>
    </div>
}
